< {{tag}} class="{{class}}">
  {{#image}}
    {{> atoms-image}}
  {{/image}}

  <div class="inner-bloc">

    {{#divider}}
      {{> atoms-divider}}
    {{/divider}}

    {{#font}}
      {{> atoms-font}}
    {{/font}}

  </div>
  < {{tag}} />