body {
  font-family: "Montserrat", Arial, sans-serif;
}

.main-button {
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #fb905a;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 1px;
}

.secondary-button {
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: blue;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 1px;
}
